<div class="post-header">
    <div class="post-meta">
        <span class="post-category"><%= category %></span>
        <span class="post-date"><%= date %></span>
    </div>
    <div class="author-info">
        <img src="/images/others/grapess.png" alt="VisionsCraft Founder">
        <div>
            <h3>Written by VisionsCraft Founder</h3>
            <p>AI Strategist & Ethical AI Advocate</p>
        </div>
    </div>
</div>
